<!-- <ion-header no-border>
  <ion-toolbar transparent>
    <ion-buttons slot="start"  (click)="location.back()">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-buttons> -->
    <!-- <ion-title text-center>
      {{'register_page_title'| translate}}
    </ion-title> -->
    <!-- <ion-buttons slot="end">
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->


<ion-content>

  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide  *ngIf="!userInfo">
      <ion-skeleton-text class="fake-slide" animated></ion-skeleton-text>
    </ion-slide>
    <ion-slide class="user-img"  *ngFor="let img of userInfo?.images">
      <img [src]="img">
    </ion-slide>
  </ion-slides>

  <div class="half-page-wrapper">
    <ion-icon class="dots" (click)="userPopover($event)" name="more"></ion-icon>    
    <div>
      <ion-label class="user-info-text">
       <div *ngIf="userInfo" class="user-info-text-name">{{ userInfo?.name +  ( userInfo?.age ? ',' : '' )}}
         <p class="user-info-text-age">{{userInfo?.age}}</p>
        </div> 
      </ion-label>
      <ion-label class="user-info-text">
          <p>{{userInfo?.bio}}</p>
      </ion-label>
      
    </div>
    <!-- <span class="coffee-stain" *ngIf="userInfo?.images?.length == 0"></span> -->
  </div>
  <ion-button class="edit-btn" (click)="editProfile()">
    {{'edit' | translate}}
  </ion-button>
  
</ion-content>
