<ion-header no-border>
    <ion-toolbar transparent>
      
      <ion-buttons slot="end"  (click)="close()">
        <ion-icon ios="ios-close" md="ios-close"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <h1 text-center *ngIf="credits">you have {{ credits }} credits.</h1>
  <ion-icon class="cafe-icon" name="cafe"></ion-icon>

  <ion-button class="get-credits-btn" (click)="onBuyMoreCreditsTap()"> buy more credits </ion-button>
  <ion-button class="get-credits-btn" (click)="onRewardTap()"> see a video </ion-button>
</ion-content>