<ion-header no-border>
  <ion-toolbar transparent>
    <ion-buttons slot="start"  (click)="location.back()">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-buttons>
    <!-- <ion-title text-center>
      {{'register_page_title'| translate}}
    </ion-title> -->
    <ion-buttons slot="end">
      <ion-icon class="dots" (click)="userPopover($event)" name="more"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="userInfo" *ngIf="userInfo">
    <ion-avatar class="profileImage" (click)="editProfileImg()">
      <img 
      onError="this.src='../../assets/imgs/user.svg';"       
      [src]="userInfo.profileImg" />
    </ion-avatar>
    <ion-label class="user-name">{{userInfo.name}} {{userInfo.surname}}</ion-label>
  </div>
  <div class="userInfo" *ngIf="!userInfo">
    <ion-avatar class="profileImageSkeleton" slot="start">
      <ion-skeleton-text animated></ion-skeleton-text>
    </ion-avatar>
    <ion-skeleton-text class="user-name" animated></ion-skeleton-text>
  </div>
  
  
  
  <ion-segment [(ngModel)]="section">
    <ion-segment-button value="gallery"  >  Photos   </ion-segment-button>
    <ion-segment-button (click)="getChats()" value="messages"> Messages </ion-segment-button>
  </ion-segment>  
  
  <div [ngSwitch]="section" class="gallery">
    
    
    <div *ngSwitchCase="'gallery'" class="gallery">
      <h3 *ngIf="userInfo?.images?.length == 0" text-center>{{ 'please_add_image' | translate }}</h3>
      <ion-grid>
        <!-- <ion-row *ngFor="let rowData of images; index as pos">
          <ion-col col-6 col-md-4 col-xl-3 *ngFor="let img of rowData; index as pos">
            <div class="image-container">
              <img *ngIf="img" [src]="img" (click)="openPreview(img)"/>
            </div>
          </ion-col>
        </ion-row> -->
        <ion-row>
          <ion-col class="image-container-wrapper" (click)="editImage(1)" col-6 col-md-4 col-xl-3 >
            <div class="image-container first-image">
              <img *ngIf="userInfo?.images && userInfo?.images.length > 0 && userInfo?.images[0]" class="user-image" [src]="userInfo?.images[0]">
              <ion-icon class="edit-icon" name="create"></ion-icon>
            </div>
          </ion-col>
          <ion-col class="image-container-wrapper" (click)="editImage(2)" col-6 col-md-4 col-xl-3>
            <div class="image-container second-image">
              <img *ngIf="userInfo?.images && userInfo?.images.length > 1 && userInfo?.images[1]" class="user-image" [src]="userInfo?.images[1]">
              <ion-icon class="edit-icon" name="create"></ion-icon>
            </div>
          </ion-col>
          <ion-col class="image-container-wrapper" (click)="editImage(3)" col-6 col-md-4 col-xl-3 >
            <div class="image-container third-image">
              <img *ngIf="userInfo?.images && userInfo?.images.length > 2 && userInfo?.images[2]" class="user-image" [src]="userInfo?.images[2]">
              <ion-icon class="edit-icon" name="create"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      
      
      
      
      
    </div>
    
  </div>
  
  
  
  
  <!-- <ion-list>
    <ion-item *ngFor="let img of images; index as pos" text-wrap>
      <ion-thumbnail slot="start">
        <ion-img [src]="img"></ion-img>
      </ion-thumbnail>
      <ion-button slot="end" fill="clear" (click)="startUpload(img)">
        <ion-icon slot="icon-only" name="cloud-upload"></ion-icon>
      </ion-button>
      <ion-button slot="end" fill="clear" (click)="deleteImage(img, pos)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list> -->
  
  
  
</ion-content>

<!-- <ion-footer>
  <ion-button *ngIf="section == 'gallery' " fill="clear" expand="full" (click)="selectImage()">
    <ion-icon class="plus-button" slot="start" name="add"></ion-icon>
  </ion-button>
</ion-footer> -->