.profileImage{
    width: 80px;
    height: 80px;
    margin: 30px auto;
    border: 2px solid #222;
    background: #fff ;
}
.profileImageSkeleton{
    width: 80px;
    height: 80px;
    margin: 30px auto;
    border: 2px solid #222;
}


.user-message-img{
    border: 2px solid #222;
    background: #fff ;
}

.user-name{
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    margin: 0 auto;
    display: block;
}
.userInfo{
    border-bottom: 2px solid;
    border-radius: 50%;
    padding: 0px 30px 30px 30px;
    box-shadow: 0 4px 2px -2px gray;
    -webkit-box-shadow: 0 4px 2px -2px gray;
    -moz-box-shadow: 0 4px 2px -2px gray;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.dots{
    float: right;
}
.gallery{
    padding: 30px
}

.user-image {
    width: 100%;
    border-radius: 15px;
    height: 100%;
}
.image-container-wrapper{
    height: 33vw;    
}
.image-container{
    border-radius: 10px;
    border: 2px solid #222;
    height: 100%;
    position: relative;
}
.localized-user-img{
    background: #fff;
    border-radius: 25%;
    border: 2px solid #222;
}
.edit-icon{
    position: absolute;
    top: 45%;
    border-radius: 50%;
    background: #f1f1f1;
    border: 1px solid #222;
    color: #222;
    z-index: 2;
    height: 15px;
    width: 15px;
    padding: 5px;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.image-container {
    background-size: cover;
}
.notReadMessage{
    font-weight: bold;
    color: #999;
}
.not-read-checker{
    color: #888;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 21px;
    margin-right: 17px;
}