<ion-header no-border>
  <ion-toolbar transparent>
    
    <ion-buttons slot="end"  (click)="location.back()">
      <ion-icon ios="ios-close" md="ios-close"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
  <div class="none-found-lbl" *ngIf="!localizedUsers || localizedUsers.length <= 0">
    {{ 'no_localized_users_were_found' | translate }}
  </div>
  
  <ion-grid *ngIf="localizedUsers && localizedUsers.length > 0">
    <ion-row>
      <ion-col size="12">
        <ion-button fill="clear" [class.compose]="compose" class="compose-btn" (click)="compose = !compose">
          <ion-label>{{ 'coffee_group' | translate }}</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col [class.compose]="compose" class="localized-user-col" size="6" *ngFor="let localizedUser of localizedUsers">
        <ion-card class="white localized-user-card" (click)="onLocalizedUserTap($event, localizedUser)">
          <span *ngIf="isOnline(localizedUser)" class="online-badge"></span>
          <img class="localized-user-img" 
          onError="this.src='../../assets/imgs/user.svg';" 
          [src]="localizedUser.user.profileImg">
          <div class="localized-user-img-shadow-layer"></div>
          <div class="card-title localized-user-info localized-user-name">
            <p class="name-lbl">{{localizedUser.user.name}}, {{localizedUser.user.age}}</p>
            <p class="distance-lbl">{{distanceFromUser(localizedUser)}}</p>
          </div>
          
          <!-- <div class="card-subtitle localized-user-info localized-user-age"></div> -->
        </ion-card>
      </ion-col>                                                                                                                                                                                                                                                                                          
      
    </ion-row>
  </ion-grid>
  <ion-button [class.compose]="compose" class="multiple-invitation-btn" (click)="invite()">
    <ion-icon name="cafe"></ion-icon>
  </ion-button>
</ion-content>
