  
  <ion-header no-border>
      <ion-toolbar transparent>
        <ion-buttons slot="start"  (click)="location.back()">
          <ion-icon name="ios-arrow-back"></ion-icon>
        </ion-buttons>
        <h3>{{chat.name}}</h3>
        <!-- <ion-title text-center>
          {{'register_page_title'| translate}}
        </ion-title> -->
        <!-- <ion-buttons slot="end">
          <ion-icon class="dots" (click)="userPopover($event)" name="more"></ion-icon>
        </ion-buttons> -->
      </ion-toolbar>
    </ion-header>

  <ion-content padding class="container" #messagesContent>
    <div class="vertical-space message right"></div>
    <div *ngFor="let msg of messages" class="message" [class.right]="this.id == msg.user.id" [class.left]="this.id != msg.user.id">
      <img *ngIf="msg.user.profileImg" class="user-img"  alt="" src="{{msg.user.profileImg}}">
      
      <div class="msg-detail">
        <div class="msg-content">
          <span class="triangle"></span>
          <div class="coffee-wrapper" *ngIf="msg.type == 'INVITATION'">
            <img class="coffee" src="../../../assets/imgs/coffee.svg">
            <!-- <p class="question-mark">?</p> -->
          </div>
          <p class="line-breaker ">{{msg.content}}</p>
          <div class="created-at">{{ getTime(msg.createdAt) }}</div>
        </div>
      </div>
    </div>
    <div class="vertical-space message right"></div>
  </ion-content>
  <ion-footer no-border>
    <div class="input-wrap">
      <textarea #messageInput placeholder="Enter your message!" [(ngModel)]="message" (keyup.enter)="sendMessage()">
      </textarea>
      <button class="send-btn" ion-button clear icon-only item-right (click)="sendMessage()">
        <div class="icon-wrapper">
          <ion-icon class="send-icon" name="md-send"></ion-icon>
        </div>
      </button>
    </div>
  </ion-footer>