
  .input-wrap {
    display: flex;
    textarea {
      flex: 4;
      border: 0;
      padding: 17px;
      resize: none;
      background : #f1f1f1;
      margin-right: 5px;
      margin-bottom: 5px;
      margin-left: 25px;
      border-radius: 35px;
      border-top-right-radius: 0;
      border: 1px solid #222;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  
    }
    .send-btn {
      flex: 0;
      height: 60px;
      background:none;
      border-radius: 50px;
      margin-right: 20px;
    }
    .send-icon{
      color: #f1f1f1;
    }
  
    .icon-wrapper{
      height: 100%;
      border-radius: 35px;
      padding: 15px;
      padding-top: 13px;
      background: #999;
      border-radius: 35px;
      height: 50px;
      width: 50px;
      font-size: 25px;
      border: 1px solid #222;
      
    }
  }
  ion-footer {
    position: sticky;
    bottom: 0;
  
  }
  ion-content .scroll-content {
    background-color: #f5f5f5;
  }
  .line-breaker {
    white-space: pre-line;
  }
  .vertical-space{
    height: 120px;
  }
  .container {
    position: absolute;
    right: 0;
    left: 0;
    .message {
      max-width: 50%;
      clear: both;
      display: inline-flex;
      position: relative;
      padding: 7px 0;
      .msg-content {
        width: auto;
        color: #343434;
        background-color: #F5ECE1;
        float: left;        
        padding: 15px;
        border: 1px solid #222;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  
      }
      .user-img {
        position: absolute;
        border-radius: 45px;
        width: 25px;
        height: 25px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.36);
        border: 1px solid #222;
        background: #fff;
      }
      .created-at{
        color: #777;
        font-size: 10px;
        margin-top: 7px;
      }
      
      .msg-detail {
        width: auto;
        width: 100%;
        display: inline-block;
        p {
          margin: 0;
        }
        .msg-info {
          p {
            font-size: .8em;
            color: #222;
          }
        }
      }
    }
    .left{
      float: left;
      .user-img{
        left: 0;
      }
      .msg-detail{
        padding-left: 30px;
        padding-right: 0;
      }
      .msg-info{
        text-align: left;
      }
      .msg-content{
        border-bottom-left-radius: 33px;
        border-top-right-radius: 33px;
      }
    }
    .right{
      float: right;
      .user-img{
        right: 0;
      }
      .msg-detail{
        padding-right: 30px;
        padding-left: 0;
      }
      .msg-info{
        text-align: right;
      }
      .msg-content{
        border-bottom-right-radius: 33px;
        border-top-left-radius: 33px;
      }
    }
    .question-mark{
      font-size:95px;
    }
    .coffee{
      width: 110px;
      height: 110px;
    }
    .coffee-wrapper{
      display: flex;
      width: 107px;
    }
  }  
