.sad{
    height: 40px;
    width:40px;
    display: block;
    margin:0 auto;
    background:url(../../assets/imgs/sad.png );
    background-size: 100% 100%;
}
.delete-account-btn{
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

.delete-account-txtarea{
    box-shadow: aliceblue 3px 3px;
    height: 150px;
}