<ion-header no-border>
  <ion-toolbar transparent>
    <!-- <ion-buttons slot="start"  (click)="location.back()">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-buttons> -->
    <ion-buttons slot="end"  (click)="profile()">
      <img class="profile-img-btn" [src]="userImg">
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content padding>
  <label>    
    <div id="player" class="player" [class.voted]="flipped" (click)="flipIt()">
      <div class="front">
        <div id="container" >
          <div class="coffy-img-container">
            <!-- <img src="/src/assets/imgs/coffee.svg"> -->
          </div>
          <div class="circle" style="animation-delay: -3s"></div>
          <div class="circle" style="animation-delay: -2s"></div>
          <div class="circle" style="animation-delay: -1s"></div>
          <div class="circle" style="animation-delay: 0s"></div>
        </div>
      </div>
      <div class="back">
        <div *ngFor="let localizedUser of localizedUsers">
            {{localizedUser.user.name}}
        </div>
      </div>
    </div>
  </label>
</ion-content>