ion-content{
    --ion-background: #b09891;
}

label {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    display: block;
    width: 320px;
    height: 320px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.player {
    position: relative;
    height: 100%;
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: all 600ms;
    transition: all 600ms;
    z-index: 20;
}

.player div {
    position: absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 200px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 50%;
}
.player img {
    border-radius: 50%;
}
.coffy-img-container{
    z-index: 1;
    animation: scaleInWithoutDisapear 18s infinite cubic-bezier(.36, .11, .89, .32);

}

.player .back {
    color: #FFF;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

input {
    display: none;
}

.player.voted {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}
.circle {
    border-radius: 50%;
    background-color: #fff;
    width: 150px;
    height: 150px;
    position: absolute;
    opacity: 0;
    animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);
}
@keyframes scaleIn {
    from {
        transform: scale(.5, .5);
        opacity: .5;
    }
    to {
        transform: scale(2.5, 2.5);
        opacity: 0;
    }
}
@keyframes scaleInWithoutDisapear {
    0% {
        transform: scale(1, 1);
        opacity: .8;
    }
    50% {
        transform: scale(1.2, 1.2);
        opacity: 0.5;
    }
    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}
.profile-img-btn{
    width: 32px;
    background: #fff;
    border-radius: 50px;
    border: 1px solid #222;
}