.notReadMessage{
    font-weight: bold;
    color: #999;
}


.user-message-img{
    // border: 2px solid #222;
    background: #fff ;
    display: block;
    transition: all linear 0.3s;
    height: 45px;
    width: 45px;
}
.not-read-checker{
    background: red;
    position: absolute;
    top: 15px;
    right: 10px;
    width: 5px;
    height: 5px;
    border-radius: 100%;
    padding: 0;
}
.chat-name>h3{
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 50px;
    overflow: hidden;
}


.user-message-img-hide{
    opacity: 0;
}

.user-message-img-show {
    opacity: 1;

}