
<ion-content padding>
    <h1>kofify</h1>



    <form #f="ngForm">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-label>
              <p class="login-disclaimer">
                {{'login_disclaimer' | translate }} <span (click)="terms()">{{'terms' | translate }}</span> {{'and' | translate }} <span (click)="privacyPolicy()">{{'privacy_policy' | translate}}</span></p>
              </ion-label>
          </ion-col>
        </ion-row>
        <ion-row justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
            <div text-center>
            </div>
            <div padding>
                <ion-button size="large" [routerLink]="['/email-login']" type="submit" expand="block">login</ion-button>
                <ion-button class="fb-btn-wrp" size="large" (click)="doFbLogin()" expand="block"><a href="javascript:void(0)"  class="fb-btn">login with Facebook</a></ion-button>
              </div>
            <ion-label class="register-btn" expand="block" routerLink="/register" routerDirection="forward">don't you have an account? <a>register</a></ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </form>
    <!-- <span class="coffee-stain"></span> -->
  </ion-content>
  