#profileImage{
    width: 80px;
    height: 80px;
    margin: 30px auto;
    border: 2px solid #222;
}
.user-message-img{
    // border: 2px solid #222;
}
ion-content{
    --background: #fff;
}
.user-gallery{
    -webkit-transition: height 2s ease-in; /* Safari prior 6.1 */
    transition: height 2s ease-out;
}
.user-name{
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    margin: 0 auto;
    display: block;
}
.userInfo{
    border-bottom: 2px solid;
    border-radius: 50%;
    padding: 0px 30px 30px 30px;
    background: #FDF9F1;
    box-shadow: 0 4px 2px -2px gray;
    -webkit-box-shadow: 0 4px 2px -2px gray;
    -moz-box-shadow: 0 4px 2px -2px gray;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.dots{
    float: right;
}
.gallery{
    padding: 30px
}
.half-page-wrapper{
    position: relative;
    width: 100%;
    bottom: 0;
    background: #fff;
    z-index: 999999999;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    margin-top: -15px;
}
.user-info-text{
    padding-left: 15px;
    padding-right: 15px;
    display: block;
}
.user-image {
    width: 100%;
    border-radius: 15px;
    height: 100%;
}
.image-container-wrapper{
    height: 33vw;    
}
.image-container{
    border-radius: 10px;
    border: 2px solid #222;
    height: 100%;
    position: relative;
}
.localized-user-img{
    background: #fff;
    border-radius: 25%;
    border: 2px solid #222;
}
.profileImageSkeleton{
    width: 80px;
    height: 80px;
    margin: 30px auto;
    border: 2px solid #222;
}
.fake-slide{
    height: 500px;
    width: 100%;
}
.user-name.skeleton{
    width: 53%;
}
.localized-user-btn-wrp{
    position: relative;
    text-align: center;
}

.image-container {
    background-size: cover;
}

.localized-user-img{
    width: 90px;
    height: 90px;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #222;
    margin: 0 auto;
}
.localized-user-name{
    font-size: 15px;
    text-align: center;
    margin: 0 auto;
    display: block;
}
.user-img{
    height: 57vh;
}


.localized-user-btn{
    padding: 15px;
    top: 0;
    --border-radius: 50%;
    width: 80px;
    height: 80px;
    
}
.localized-user-btn.send-btn{
    left: 21%;
}

.localized-user-btn.invite-btn{
    left: 5%;
}

.user-info-text-age{
    font-size: 15px;
    display: table-cell;
    padding-left: 15px;
 }

 .user-info-text-name{
     font-size:30px;
     display: table;
 }
 