<ion-header no-border>
  <ion-toolbar transparent>
    <ion-buttons slot="start"  (click)="close()">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-buttons>
    <!-- <ion-title text-center>
      {{'register_page_title'| translate}}
    </ion-title> -->
    <!-- <ion-buttons slot="end">
      <ion-icon class="dots" (click)="userPopover($event)" name="more"></ion-icon>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
  
  </ion-list>
  <ion-item-sliding *ngFor="let localizedUser of localizedUsers">
    
    
    <ion-item>
        <ion-avatar slot="start">
          <img [src]="localizedUser.user.profileImg">
        </ion-avatar>
        <ion-label>{{localizedUser.user.name}}</ion-label>
      </ion-item>
      <ion-item-options side="end">
          <ion-item-option (click)="favorite(item)"><ion-icon name="happy"></ion-icon>invite</ion-item-option>
          <ion-item-option (click)="share(item)"><ion-icon name="send"></ion-icon>send message</ion-item-option>
        </ion-item-options>
  </ion-item-sliding>
  
</ion-content>
