<ion-header no-border>
  <ion-toolbar transparent>
    <ion-buttons slot="end"  (click)="close()">
      <ion-icon ios="ios-close" md="ios-close"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-grid>
      <ion-row>
          <ion-col class="localized-user-col" size="4" *ngFor="let localizedUser of localizedUsers">


              <ion-card class="white localized-user-card" (click)="viewProfile(localizedUser)">
                  <img class="localized-user-img" 
                  onError="this.src='../../assets/imgs/user.svg';" 
                  [src]="localizedUser.user.profileImg">
                  <div class="localized-user-img-shadow-layer"></div>
                  <div class="card-title localized-user-name">{{localizedUser.user.name}}</div>
                  <div class="card-subtitle">{{localizedUser.user.age}}</div>
              </ion-card>
    
            </ion-col>                                                                                                                                                                                                                                                                                          



        <!-- <ion-card class="white">
          <ion-card-header (click)="viewProfile(localizedUser)">
            <img class="localized-user-img" 
            onError="this.src='../../assets/imgs/user.svg';" 
            [src]="localizedUser.user.profileImg">
            <ion-card-title>
              <ion-label class="localized-user-name">{{localizedUser.user.name}}</ion-label>
            </ion-card-title> -->
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
          <!-- </ion-card-header> -->
<!--           
          <ion-card-content>
            <div class="localized-user-btn-wrp">
              <ion-button slot="start" (click)="invite(localizedUser)" class="invite-btn localized-user-btn">
                <ion-icon name="cafe"></ion-icon>
              </ion-button>
              <ion-button slot="end" (click)="chatWith(localizedUser)" class="send-btn localized-user-btn">
                <ion-icon name="chatbubbles"></ion-icon>
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card> -->
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>
