<ion-header no-border>
  <ion-toolbar transparent>
    <ion-buttons slot="start"  (click)="close()">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    
    
    <ion-card *ngFor="let localizedUser of localizedUsers">
      <ion-card-header>
        <img class="localized-user-img" [src]="localizedUser.user.profileImg">
        
        <ion-card-title>
          <ion-label class="localized-user-name">{{localizedUser.user.name}}</ion-label>
        </ion-card-title>
        <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      </ion-card-header>
      
      <ion-card-content>
        <div class="localized-user-btn-wrp">
          <ion-button slot="start" (click)="invite(localizedUser)" class="invite-btn localized-user-btn">
            <ion-icon name="cafe"></ion-icon>  invite
          </ion-button>
          <ion-button slot="end" (click)="chatWith(localizedUser)" class="send-btn localized-user-btn">
            <ion-icon name="happy"></ion-icon>  send message
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
