<!-- <ion-header no-border>
  <ion-toolbar transparent>
    <ion-buttons slot="start"  *ngIf="flipped" (click)="flipIt()">
      <ion-icon name="ios-arrow-back"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end"  (click)="profile()">
      <img 
      onError="this.src='../../assets/imgs/user.svg';"       
      class="profile-img-btn" [src]="userImg">
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
<ion-content padding>
  <!-- <app-autocomplete-input [static]="true" *ngIf="!useMyPosition" ngDefaultControl  [placeholder]="'district'" (onSearchResult)="onZoneSelected($event)" [region]="selectedCity" ></app-autocomplete-input> -->
  <ion-range *ngIf="!flipped" (mouseup)="onRangeChanged()" (touchend)="onRangeChanged()" class="col-md-12" pin="true" [(ngModel)]="maxDistance"  min="50" max="5000" step="2">
    <ion-icon size="small" slot="start" name="walk"></ion-icon>
    <ion-icon slot="end" name="walk"></ion-icon>
  </ion-range>
  
    <div id="player" class="player" [ngClass]="flipped ?'border-radius-50':'border-radius-25'" [class.voted]="flipped">
      <div class="front flippable" (click)="flipIt()" >
        <div id="container flippable" >
          <div class="coffee-container flippable">
            <!-- <img src="/src/assets/imgs/coffee.svg"> -->
          <div [class]="'coffee-mug' + ' ' + coffeeContainerVisibilitiy" >
            <div class="coffee-container">
              <div [class]="'coffee' + ' ' + loadClass"></div>
            </div>
          </div>
        </div>

        </div>
      </div>
      <div class="back flippable">
        <div class="localized-users flippable">
          <div class="localized-users-wrapper">
            <!-- <h3>{{localizedUsers?.length}} {{'close_to_you' | translate}}</h3>
            <ion-avatar *ngFor="let localizedUser of localizedUsers; let i = index" class="localized-user-img" 
            [style.z-index]="i+1"
            [style.margin-left]="( 31*(i + 1) /localizedUsers.length ) + 'px'">
            <img 
            onError="this.src='../../assets/imgs/user.svg';"             
            class="localized-user-img-src" [src]="localizedUser?.user?.profileImg">
          </ion-avatar> -->

        </div>
      </div>
    </div>
  </div>
<!-- <span class="coffee-stain"></span> -->
</ion-content>