.plan-card{
    width: 100%;
}


.swiper-zoom-container{
    transition: padding-bottom 1s ease-in-out;
}
.swiper-slide-active{
    padding-bottom: 25px;
}
.plan-name{
    text-align: center;
}
.plan-price{
    font-size: 20px;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    border: 1px solid #cccccc;
    border-radius: 25px;
    background: #D1B378;
    color: white;
}