  <ion-header no-border>
    <ion-toolbar transparent>
      <ion-buttons slot="end"  (click)="dismiss()">
        <ion-icon ios="ios-close" md="ios-close"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let plan of plans; let i = index" centeredSlides="true">
        <ion-card class="plan-card" (click)="onPlanChoosen(i)">
          <ion-card-header>
            <ion-card-title class="plan-name">
              {{plan.name}}
            </ion-card-title>
            <ion-card-content>
              <p>{{plan.description}}</p>
            </ion-card-content>
            <h4 class="plan-price">{{plan.price}}</h4>
          </ion-card-header>
        </ion-card>
      </ion-item>
    </ion-list>
    
  </ion-content>